/*IMPORT FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto+Condensed&display=swap');

* {
    padding: 0;
    margin: 0;
}

/*DEFAULT COLORS*/
.color-magenta {
    color: #EE58B6;
}
.color-black {
    color: #000000;
}
.color-white {
    color: #FFFFFF;
}



/*======================================*/
/*HEADER*/
/*=================TOP==================*/
.top-panel {
    display: flex;
    justify-content: space-between;
    padding: 33px 120px;
}

.label {
    font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: 31px;
    line-height: 122.33%;
    letter-spacing: -0.045em;
}

.top-buttons {
    display: flex;
    font-family: 'Montserrat', serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.top-buttons > * {
    padding: 10px 30px;
}

.top-buttons > *:last-child {
    color: white;
    background: #05090C;
    border-radius: 5px;
}

.top-buttons > *:last-child:hover {
    color: white;
    background: #EE58B6;
    border-radius: 5px;
}

.top-buttons > *:hover {
    color: white;
    background: #05090C;
    border-radius: 5px;
}


/*=================LANDING==================*/
.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 732px;
}

.landing-text {
    width: 745px;
    height: 139px;
}

.landing-text h1 {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 122px;
}

.landing-text h2 {
    font-family: 'Roboto Condensed', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;

    width: 545px;
    color: rgba(0, 0, 0, 0.7)
}

.default-button {
    display: flex;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    margin-top: 30px;
}

.default-button > * {
    padding: 19px 83px;
    color: white;
    background: #05090C;
    border-radius: 5px;
}

.default-button > *:hover {
    color: white;
    background: #EE58B6;
    border-radius: 5px;
}
/*=================ADVANTAGES PANEL==================*/

.advantage-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 398px;
    background-color: black;
} 

.advantage-panel > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-family: 'Roboto Condensed', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;

    text-align: center;

    width: 360px;
    height: 145px;

    margin-right: 105px;
}

.advantage-panel > div:last-child {
    margin-right: 0;
}


/*======================================*/
/*MAIN SECTION*/
/*=================STATEMENTS==================*/
.mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mainSection-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1136px;
}

.mainSection-block > div {
    width: 574px;
}

.mainSection-block > div h1 {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;

    color: #000000;
}

.mainSection-block > div h2 {
    font-family: 'Roboto Condensed', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    margin-top: 26px;
    color: rgba(0, 0, 0, 0.7);
}
/*=================TABLE==================*/

.mainSection-table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
}

.mainSection-table > h1 {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;

    text-align: center;

    color: #000000;
}

.mainSection-table .contents {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;

    margin-top: 60px;
    width: 1134px;

    gap: 30px;
}

.mainSection-table .contents > div  {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    width: 358px;
    height: 190px;

    background: #000000;
    border-radius: 7px;
}

.mainSection-table .contents > div img  {
    margin-top: 32px;
    margin-left: 40px;
}

.mainSection-table .contents > div  h1 {
    font-family: 'Roboto Condensed', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    margin-bottom: 37px;
    margin-left: 40px;

    width: 286px;
    color: #FFFFFF;
}


/*======================================*/
/*FOOTER*/
/*======================================*/
.footer-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 108px;
    margin-top: 288px;
}